<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>

<body>

    <h1>Menu</h1>

    {% for item in items %}

        <h2>{{ item.name }}</h2>

        <p>Item ID: {{ item.item_id }}</p>
        <p>Category: {{ item.category }}</p>
        <p>Price: ₹{{ item.price }}</p>
        <p>Spicy Level: {{ item.spicy_level }}</p>

        {% if item.price < 200 %}
            <p>Price Category: Low</p>
        {% else %}
            <p>Price Category: High</p>
        {% endif %}

        {% if item.spicy_level >= 3 %}
            <p>Spicy</p>
        {% else %}
            <p>Mild</p>
        {% endif %}

        <hr>

    {% endfor %}

</body>
</html>